<% if @scout %>

    <h1> Check Out <%= link_to @scout.first_name, scout_path(@scout) %>'s Camping Trips! </h1>

    <ul>

        <% @trips.each do |trip| %>

            <li><%= link_to trip.location, scout_trip_path(@scout, trip)%></li>
            DATE : <%= trip.date %>
            <br><br>

        <% end %>

    </ul>

    <h2><%= link_to "Click Here to add another camping record for this scout", new_scout_trip_path(@scout) %></h2><br>
    <h2><%= link_to "Click Here to view the troop's camping record", trips_path %></h2><br>
    

<% else %>


    <h2> See the Troop's Camping Data Below: </h2>

        <h2><%= link_to "Click Here to add a new camping record", new_scout_trip_path(@current_scout.id) %></h2><br>

        <% @trips.each do |trip| %>
            <li><%= trip.location%></li>
            DATE : <%= trip.date %>
        <% end %>
    
        <h2><%= link_to "Click Here to add a new camping record", new_scout_trip_path(@current_scout.id) %></h2><br>

<% end %>