<h2><%= link_to "Click Here to add a new camping record", new_scout_trip_path %></h2><br

<% if @scout %>

    <h1> Check Out <%= link_to @scout.first_name, scout_path(@scout) %>'s Camping Trips! </h1>

    <ul>

        <% @trips.each do |trip| %>

            <li><%= link_to trip.location, scout_trip_path(@scout, trip)</li>
            DATE : <%= trip.date %>
            <br><br>

        <% end %>

    </ul>


<% else %>


    <h2> See the Troop's Camping Data Below: </h2>


        <% @trips.each do |trip| %>
            <li><%= trip.location%></li>
            DATE : <%= trip.date %>
        <% end %>


<% end %>