
<%if@scout%>
<br>
<% if @trip.errors.any? %>

<% @trip.errors.full_messages.each do |error| %>

    <h4><%= error %></h4>
    <%end%>

<% end %>
<br>
<h2> Enter Information on your camping trip below: </h2>


    <%= form_with model: [@scout, @trip] do |f| %>
        <br>
    
        Location of trip: <%= f.text_field :location %>
        <br>
        Date of Trip: <%= f.date_field :date %>
        <%= f.submit %>

    <%end%>

<%else%>
<br>
<% if @trip.errors.any? %>

<% @trip.errors.full_messages.each do |error| %>

    <h4><%= error %></h4>
    <%end%>
<% end %>
<br>
<h2> Enter Information on your camping trip below: </h2>


    <%= form_with model: [@current_scout, @trip] do |f| %>
        <br>
    
        Location of trip: <%= f.text_field :location %>
        <br>
        Date of Trip: <%= f.date_field :date %>
        <%= f.submit %>

    <%end%>
<%end%>
