<h2> Enter Information on your camping trip below: </h2>


    <%= form_with model: [@scout, @trip] do |f| %>
        <br>
    
        Location of trip: <%= f.text_field :location %>
        <br>
        Date of Trip: <%= f.date_field :date %>
        <%= f.submit %>
    
    <% end %><br>
    
    <h2><%= link_to "Click Here to view all of the Troop's Camping Record", trips_path %></h2><br>
    <h2><%= link_to "Click Here to view your total camping record", scout_trips_path(@scout.id) %></h2><br>
    
    <br><br><br><br>