<h1> What Merit Badge Do You Enter? </h1>



<%= form_with model: @scout_badge do |f| %>

        Select the Scout you would like to update: <%= f.collection_select :scout_id, Scout.all, :id, :username %>
        Select the Merit Badge that you would like to add: <%= f.collection_select :badge_id, Badge.all, :id, :name %>
        Did you have fun doing this badge? <%= f.radio_button :fun, true %> Y 
        <%= f.radio_button :heat, false %> N
        Date of Earning: <%= f.date_field :date %>
    
    
        <br><br>

            <%= f.submit "Submt Record" %>

        <br><br>

<% end %>