
<br>
<% if @scout.errors.any? %>

    <% @scout.errors.full_messages.each do |error| %>

    <h4><%= error %></h4>

    <%end%>
<% end %>

</br>

<%= form_with model: @scout do |f| %>

    Name: <%= @scout.first_name%> <%=@scout.last_name %>
    Rank: <%=f.text_field :rank, placeholder: @scout.rank %>
    Username: <%= @scout.username%>

    <%= f.submit "Click Here to Update Rank" %>
<% end %>