<h1>Find all of the scouts in the troop below:</h1>


<ul>

    <% @scouts.each do |scout| %>

        <%= scout.first_name %> <%= scout.last_name %> (<%= scout.rank%>) <br> AKA:
        <%= link_to scout.username, scout_path(scout) %>

        <br><br>

    <% end %>

</ul>

<h2><%= link_to "Click Here to add a new camping record", new_scout_trip_path(@scout.id) %></h2><br>
<h2><%= link_to "Click Here to view your total camping record", scout_trips_path %></h2><br>
<h2><%= link_to "Click Here to view all of the Troop's Camping Record", trips_path %></h2><br>