<h1>Find all of the scouts in the troop below:</h1>
<h2>Click each scout's username for more information.</h2>

<div class="search">
    <%= form_tag(scouts_path, method: :get) do %>
        Search By Name, Username, or Rank <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'Search', name: nil %>
    <%end%>
</div> 

<ul>

    <% @scouts.each do |scout| %>

        <%= scout.first_name %> <%= scout.last_name %> (<%= scout.rank%>) <br> AKA:
        <%= link_to scout.username, scout_path(scout) %>

        <br><br>

    <% end %>

</ul>