<h1>Sign Up for the Scout Tracking Website Below</h1>

<br>
    <% if @scout.errors.any? %>

        <% @scout.errors.full_messages.each do |error| %>

            <h4><%= error %></h4>
        
        <% end %>

    <% end %>
<br>

<%= form_with model: @scout do |f| %>

    <%= f.label :first_name%>
    <%= f.text_field :first_name%><br>
    <%= f.label :last_name%>
    <%= f.text_field :last_name%><br>
    <%= f.label :rank%>
    <%= f.text_field :rank%><br>
    <%= f.label :username%>
    <%= f.text_field :username%><br>
    <%= f.label :password%>
    <%= f.password_field :password%><br>

<h2> Please enter any camping you may have been on: </h2>
    <%= f.fields_for :trips do |ff| %>
        <br>

        Location: <%= ff.text_field :location %>
        <br>
        Date: <%= ff.date_field :date %>
        <br>    
    <% end %><br>
<%= f.submit "Signup" %>
<% end %>