<h1> HEY <%= @scout.first_name %> </h1>

        First Name: <%= @scout.first_name %>
        <br>
        Last Name: <%= @scout.last_name %>
        <br>
        Username: <%= @scout.username %>
        <br>
        Current Rank: <%= @scout.rank %>
        <br>

<br><br>