

<h1>Current Information on <%=@scout.first_name%> <%=@scout.last_name%></h1>    
    <h2>First Name:</h2> <%= @scout.first_name%>
    <h2>Last Name:</h2> <%= @scout.last_name %>
    <h2>Rank:</h2> <%= @scout.rank %>
    <h2>MyTrail Username:</h2> <%= @scout.username%>

<br><h2><%= link_to "Add a new Merit Badge to your advancement profile", new_scout_badge_path %></h2><br>
<br><h2><%= link_to "See all available badges here", badges_path %></h2><br>