

<h1>Current Information on <%=@scout.first_name%> <%=@scout.last_name%></h1>    
    <h2>First Name:</h2> <%= @scout.first_name%>
    <h2>Last Name:</h2> <%= @scout.last_name %>
    <h2>Rank:</h2> <%= @scout.rank %>
    <h2>MyTrail Username:</h2> <%= @scout.username%>

<h2><%= link_to "Add a new Merit Badge to the advancement report", new_scout_badge_path %></h2>
<%= link_to "See all available badges here", badges_path %>
<br><br>
<h2><%= link_to "Click Here to add a new camping record for this scout", new_scout_trip_path(@scout.id) %></h2><br>