<% if logged_in? %>

    <h2> Hello, <%= link_to current_scout.first_name, scout_path(current_scout) %>!</h2>
    <li><%= link_to "Log Out", logout_path,  method: :delete %></li>
    <li><%= link_to "Merit Badge Home", scout_badges_path%></li>

    <% else %>

    <li><%= button_to "Login with Google", '/auth/google_oauth2' %>
    <li><%= link_to "Sign Up", new_scout_path %></li>
    <li><%= link_to "Log In",  login_path    %></li>

<% end %>